.white-no-border{
    background-color: white;    
    padding: 0.5% 3% 0.5% 3%;
    border: none;
    cursor: pointer;
    transition: all 0.4s;
}
.white-no-border:hover{
    filter: opacity(0.5);
}
.white-no-border h1 {
    font-size: medium;
    font-weight: lighter;
}

.white-green-border-black{
    border: 1px solid var(--5);
    box-shadow: 2px 2px var(--5);
    background-color: white;
    padding: 1%;
    cursor: pointer;
    transition: all 0.4s;
}
.white-green-border-black:hover{
    background-color: var(--5);
    transition: all 0.4s;

}
.white-green-border-black h1 {
    font-size: medium;
    font-weight: lighter;
}