.white-no-border{
    background-color: white;    
    padding: 0.5% 3% 0.5% 3%;
    border: none;
    cursor: pointer;
    transition: all 0.4s;
}
.white-no-border:hover{
    filter: opacity(0.5);
}
.white-no-border h1 {
    font-size: medium;
    font-weight: lighter;
}
.icon{
    height: 3vw;
    width: auto;
}

.white-green-border-black{
    border: 1px solid var(--1);
    background-color: white;
    padding: 1%;
    cursor: pointer;
    transition: all 0.4s;
}
.white-green-border-black:hover{

    transition: all 0.4s;  
    box-shadow: 4px 4px var(--1);

}
.white-green-border-black h1 {
    font-size: 0.8rem;
    font-weight: lighter;
}

.pink-no-border{
   border: none;
   background-color: var(--1); 
   cursor: pointer;
   padding: 1%;
}
.pink-no-border h1{
    font-size:medium;
   font-weight: 100;
   margin: 0;
}
@media (max-width:800px){
    .icon{
        width: 6vw;
        height: auto;
    }
}

