#cart{
    position: fixed;
    display: flex;
    flex-direction:column;
    background-color:black;
    color: white;
    z-index: 999;
    max-height:90vh;
    height: 90vh;
    right: 0%;
    top:6vw;
    transition: 0.5s;
}
#cart h1{
    color: black;
}
.openCart{

    width: 300px;
    padding: 10px;
}
.closedCart{
    width: 0px;
    padding: 0px;
    overflow-x: hidden;

    
}
.cartItemsContainer{

    overflow-y: scroll;
    height: 80%;
    overflow-x: hidden;

}