#tarjetaDeProducto{  
    transition: all 0.4s;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    cursor: pointer;
    padding-bottom: 2%;
    font-family: var(--font2);
    box-shadow: 0px 0px 20px var(--3);
}
.imageDiv{
    overflow: hidden;
    height: 43vh;
    
}


#tarjetaDeProducto img{
    transition: all 1s;
    width: 100%;
    height: auto;

    
}
#tarjetaDeProducto img:hover{
    scale: 1.3;
}

#tarjetaDeProducto h1{
    font-size: 1.2vw;
    font-weight:700;
    color: black;
}
#tarjetaDeProducto h2 {
    font-size: 1vw;
    color: black;
    
}
a{
    text-decoration: none;
}

@media (max-width:800px){
    #tarjetaDeProducto{
        width: 90%;
        margin: auto;
    }

    #tarjetaDeProducto h1{
        font-size: 4vw;
        font-weight: 400;
        margin: 0;
    }
    #tarjetaDeProducto >h2 {
        font-size: 3.5vw;
        margin: 0;
        margin-bottom: 2%;
    }
    .imageDiv{
        height: 20%;
    }
    
}
