#tarjetaDeProducto{
    width: 30%;    
    transition: all 0.4s;
}


#tarjetaDeProducto:hover{
    background-color: var(--5);
}


#tarjetaDeProducto img{
    width: 100%;
    /*margin-top: 5%;*/
    height: auto;
}

#tarjetaDeProducto h1{
    font-size: 1.5vw;
    font-weight: 400;
}
#tarjetaDeProducto >h2 {
    font-size: 1vw;
}
@media (max-width:800px){
    #tarjetaDeProducto{
        width: 90%;
    }

    #tarjetaDeProducto h1{
        font-size: 5vw;
        font-weight: 400;
    }
    #tarjetaDeProducto >h2 {
        font-size: 4.5vw;
    }
}
