.wpbutton{
    z-index: 9999;
    position: fixed;
    width: 5vw;
    height: 5vw;
    top: 85%;
    left: 92%;
    cursor: pointer;

}
@media (max-width:800px){
    .wpbutton{
        width: 10vw;
        height: 10vw;
        left: 80%;
        top: 84%;
    }
}