#destacados{
    width: 100%;
    margin-top: 7%;
    text-align: center;
    margin-bottom: 7vh;
    cursor: pointer;
    
}
.cardContainer{
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content:    space-evenly;
    margin-bottom: 7vh;
    padding-bottom: 5vh;
    padding-top: 5vh;
    border-bottom: 2px solid var(--1);
    border-top: 2px solid var(--1);
    
}

.tarjetaDeProductoContainer{
    width: 30%;
}
.destacadosTitle{
    font-weight: 300;
}
.destacadosDescripcion{
    font-weight:lighter;
    font-size:large;
}
@media (max-width:800px){
    .cardContainer{
        flex-direction: column;
        width: 90%;
        align-items: center;
        justify-content: space-evenly;
        height: 180vh;
    }
    .tarjetaDeProductoContainer{
        width: 100vw;
    
    }
}