#destacados{
    width: 100%;

    text-align: center;
    margin-bottom: 7vh;
    cursor: pointer;
    
}
.cardContainer{
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    gap: 1%;
    justify-content: space-between;
    margin-bottom: 7vh;


    
}

.tarjetaDeProductoContainer{
    width: 22%;
    margin-bottom: 10px;
}
.destacadosTitle{
    font-weight: 300;
}
.destacadosDescripcion{
    font-weight:lighter;
    font-size:large;
}
@media (max-width:800px){
    .cardContainer{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        padding: 0%;
        margin-right: 0;
        margin-bottom: 2%;

    }
    .tarjetaDeProductoContainer{
        width: 45vw;
        margin-bottom: 10%;
    
    }
    .destacadosTitle{
        font-size: 1.8rem;
    }
}