#footer{
    display: flex;
    flex-direction: row;
    padding: 0 10% 0 10%;
    justify-content: space-evenly;
    font-family: var(--font2);
    font-weight: 100;
    font-size: xx-small;
    text-align: center;
    background-color: black;
    color: linen;
}
#footer h3{
    margin: 2%;
    width: 100%;
}
@media (max-width:800px){
    #footer{
        flex-direction: column;
    }
}