#header1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: black;
    color: black;
}
 #header1 h1{
    font-size: small;
    text-decoration: none;
 }

.icono{
    height: 2vw;
    width: auto;
}
.logo{
    display: block;
    width: 100%;
    height: auto;
    
}
.logoLink{
    width: 7%;
}

.separator{
    width: 43%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.link{
    text-decoration: none;
    transition: all 0.3s;

    
}
.link:hover{
    text-decoration: underline var(--6);
}
.link h1{
    font-weight: light;
    font-size: smaller;
    color: white;
}
#header2{
    display: none;
    transition:all 0.5s;
}
@media (max-width: 800px){
    #header1{
        display: none
    }
    #header2{
        height: fit-content;
        display: flex;
        background-color: black;


    }

    .separator{
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 1000;
        transition: all 0.5s;
        top: 7%;
        filter: opacity(100);
        height: fit-content;

    }
    .hidden{
        filter: opacity(0);
        transition-delay: 0.6s;
        

    }    
    .show{
        filter: opacity(100);
        background-color: black;
    }
    .opac0{
        filter: opacity(0);
        background-color: transparent;
    }
    .delay-1{
        transition: all 0.05s;
        transition-delay: 0.1s;
    }
    .delay-2{
        transition: all 0.05s;
        transition-delay: 0.2s;
    }
    .delay-3{
        transition: all 0.05s;
        transition-delay: 0.3s;
    }

    .delay-4{
        transition: all 0.05s;
        transition-delay: 0.4s;
    }

    .delay-5{
        transition: all 0.05s;
        transition-delay: 0.5s;
    }
    
    .delay-6{
        transition: all 0.05s;
        transition-delay: 0.6s;
    }


    
    .logoLink{
        width: 20%;
        align-items: center;
        margin: auto;
    }

    .menuDots{
        position: absolute;
        z-index: 2000;
        color: white;
        font-size: x-large;
        left: 5%;
        top: 2%;
        margin: 0;
        transition: all 0.5s;
    }

    .link{
        display: block;
        width: 100%;
        text-align: center;

    }
}