@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap');
:root {

  --1: #f78b64;
  --2:#ffb680;
  --3: #ffaab8;
  --4: #ffb63e;
  --5: #d2f5a1;
  --6: rgb(237, 211, 113);
  --7: #eaf9a8;
  --font2:'Montserrat', sans-serif;

  
}


body{
  width: 100%;
  margin: 0;
  font-family: var(--font2);

}