@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap');


:root {

  --1: #ffbea6;
  --2:#ffb680;
  --3: #ffaab8;
  --4: #ffb63e;
  --5: #d2f5a1;

  --font:'Montserrat', sans-serif;
}


body{
  width: 100%;
  margin: 0;
  font-family: var(--font);
}