

.categoriasShop{
    width: 17%;
    padding-left: 2%;
    padding-top: 6%;
    font-family: var(--font2);
    transition: 0.5s;
    text-align: left;


}


.categoriasShop h3{
    margin: 4px;
    margin-left: 20px;
}
.categoriasShop h2{
    margin: 0;
    margin-bottom: 10px;
}
.filter{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    color: black;
    transition: 1s; 
    flex-direction: column;
}

.arrowIcon{
    height: 1rem;
    width: auto;
    transition: 0.5s;

}
.arrowIconOpen{
    height: 1rem;
    width: auto;
    transform: rotate(180deg);
    transition: 0.5s;
    
}

.categoriasShop button{
    background-color: transparent;
    border: none;
    height: fit-content;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 4px;
    letter-spacing: 1px;
   cursor: pointer;
}
.selectOptions{
    text-align: left;
    font-size: 1rem;
    padding: 2px;
    font-weight: 400;
    margin: 4px;
    cursor: pointer;
    width: fit-content;
}
.categoriasShop h3:hover{
    border-bottom: 1px solid var(--2);
}
.openFilterButton{
        display: inline;
        font-size: 1rem;
}
.arrowDisplay{
    display: none;
}
@media (max-width:800px){
    .categoriasShop{
        position: relative;
        width: 90%;
    }
    .filter{
        position: absolute;
        top: 100%;
        background-color: white;
        max-width: 81.3vw;
        height: 90vh;
        justify-content: flex-start;
        text-align: center;
        padding: 10%;
        left: 0;
    }
    .closedFilter{
        position: absolute;
        transform: translateX(-120%);
        transition: all 1s;
        top: 100%;
        background-color: white;
        max-width: 82vw;
        height: 80vh;
        justify-content: flex-start;
        text-align: center;
        padding: 10%;
    }
    
    .closefilterButton{
        text-align: center;
    }
    .arrowDisplay{
        display: inline;
    }
}