.shopPage{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    transition: all 0.5s;


}
.categoryTitle{
    text-align: center;
    background-image: url("../../Images/ee20fd45-85f9-409a-b1df-1a1972f19fb4.jfif");
    background-size: cover;
    margin: 0;
    margin-top: 2%;
}


@media (max-width:800px){
    .shopPage{
        width: 100%;
        flex-direction: column;
    }
}