#productSection{
  display: flex;
  flex-direction: row;
  width: 83%;
  flex-wrap: wrap;
  margin-top: 5%;
  padding-top: 5%;
  margin: auto;
  justify-content: space-evenly;
  
}
.productCardProductSection{
  width: 23%;
 
  margin-bottom: 2%;
}

@media (max-width:800px){
    
    #productSection{

      width: 100%;
    }
    .productCardProductSection{
      width: 45vw;
    }
}